header{
    overflow: hidden;
}
.slider{
    width: 800px;
    height: 500px;
    margin: auto;
    overflow: hidden;

}
header figure{
    position: relative;
    width: 600%;
    margin: 0%;
    animation: 10s slider infinite;
}
.slider figure img{
    float: right;
    width: calc(100% / 6);/*100-at 6-tal osztjuk*/
}
@keyframes slider{
    0%{
        right: 0;
    }
    20%{
        right: 100%;
    }
    40%{
        right: 200%;
    }
    60%{
        right:300%
    }
    80%{
        right: 400%
    }
    
    100%{
        right: 500%;
    }
}
